<h2 style="text-align: center;">Hacker News</h2>

<div class="example-header">
  <mat-form-field>
    <input matInput #input (keyup)="search(input.value)" placeholder="Search">
  </mat-form-field>
</div>

<div class="example-loading-shade" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
 </div>

<div class="example-container mat-elevation-z8">

<mat-table [dataSource]="dataSource" matSort>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
    <mat-cell *matCellDef="let row">  {{row.title}} </mat-cell>
  </ng-container>

  <!-- URL Column -->
  <ng-container matColumnDef="url">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a *ngIf="row.url" [href]="row.url" target="_blank">click here</a>
      <span *ngIf="!row.url">-</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50, 100]"
                 showFirstLastButtons
                 aria-label="Select page">
  </mat-paginator>
</div>
